/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/itCjTBE/blue-smooth-flowing-waves-on-light-background-video-animation-hd-1920x1080_v1gtgzrrzg__F0008.png");
    background-size: cover;
    background-repeat: no-repeat;
}