.container{
    background-color: rgba($color: violet, $alpha: 0.3);
    border-radius: 5px 5px 5px 5px;
    padding: 20px 20px 20px 20px;
    width: 712px;
}
h2{
    font-family: 'Anton', sans-serif;
    text-shadow: 2px 2px #ff0000;
}